$primary: #0057FF;
$primVariant1: #1e1e1e;
$primVariant2: #595959;
$primVariant3: #a6a6a6;
$primVariant4: #bfbfbf;
$primVariant5: #f2f2f2;
$secondary: #400601;
$secVariant1: #591902;
$secVariant2: #8c2703;
$secVariant3: #bf6734;
$secVariant4: #bf9e60;
$secVariant5: #fba707;